<div id="contact-new">
  <h3>お問い合わせ</h3>
  <% logger.debug("-------------- contact new.html.erb") %>


  <%= form_for @contact  do |f| %>
  
      
    <div class="field name">
      <%= f.label :氏名 %><br />
      <%= f.text_field :name, autofocus: true, required: true, :class => "form-text-field", autocomplete: 'name' %>
    </div>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, required: true, :class => "form-text-field", autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, required: true, :class => "form-text-field", autocomplete: "phone" %>
    </div>
    
    <div class="field">
        <%= f.label :お問合せ内容 %><br />
        <%= f.text_area :content, :size => "20x10", required: true, :class => "form-text-area", autocomplete: "content" %>
    </div>
    
    <div class="actions">
      <%= f.submit "送信", data: { confirm: "送信してOKですか？"}, class:"form-submit-button" %>
    </div>
  <% end %>


</div>
