<div id="answer-new">
  <h3>お問合せへの回答</h3>
  
    <table class="answer-content">
      <tbody>
        <tr>
          <th>氏名</th>
          <td><%= @contact.name %></td>
        </tr>
        <tr>
          <th>メール</th>
          <td><%= @contact.email %></td>
        </tr>
        <tr>
          <th>お問合せ日時</th>
          <td><%= @contact.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= simple_format(@contact.content) %></td>
        </tr>
      </tbody>
    </table>
    
    
   <%= form_with model: [@contact, @answer], url: admin_contact_answers_path(@contact) do |f| %>
  
        <%= f.hidden_field :contact_id, :value => @contact.id %>
  
        <div class="field name">
          <%= f.label :回答（こちらで入力した内容がお客様に送信されます）%><br />
          <%= f.text_area :answer, required: true, :class => "form-text-area", autocomplete: 'name' %>
        </div>
       
        <div class="actions">
          <%= f.submit "回答する", data: { confirm: "回答してOKですか？"}, class:"answer-submit-button" %>
        </div>
  　<% end %>



    <hr>
      <h3>過去の回答</h3>
      <div class="past-answer">
        <% @answers.each do |answer| %>
          <%= simple_format(answer.answer) %>
          <%= answer.created_at.strftime("%Y/%m/%d %H:%M") %>
          <div>-------------------------</div>
        <% end %>
      </div>


</div>
